.h2 {
  margin: 0;
  // writing-mode: vertical-lr;
  text-align: center;
  line-height: 1.8;
}

.div {
  // display: grid;
  // height: 100vh;
  // width: fit-content;
  // justify-content: center;
  // align-content: center;
  // grid-template-columns: max-content max-content;
  margin-top: 2em;
  margin-left: 2em;
  float: left;
  // background-color: #fff;
}

.test {
  clear:both;
}

.test2 {
  text-align: center;
  font-size: 40px;
}

.stroke {
  -webkit-text-stroke: 1px black;
  color: white;
  font-weight: bold;
}


.work {
  // transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  font-weight: bold;
}

// .work::before {
//   content: 'Front End';
//   position: absolute;
//   color: transparent;
//   background-image: repeating-linear-gradient(
//     45deg,
//     transparent 0,
//     transparent 2px,
//     white 2px,
//     white 4px
//   );
//   -webkit-background-clip: text;
//   top: 0px;
//   left: 0;
//   z-index: -1;
//   transition: 1s;
// }

// .work::after {
//   content: 'Web Developer';
//   position: absolute;
//   color: transparent;
//   background-image: repeating-linear-gradient(
//     135deg,
//     transparent 0,
//     transparent 2px,
//     white 2px,
//     white 4px
//   );
//   -webkit-background-clip: text;
//   top: 0px;
//   left: 0px;
//   transition: 1s;
// }

// .work:hover:before {
//   top: 10px;
//   left: 10px;
// }

// .work:hover:after {
//   top: -10px;
//   left: -10px;
// }

.reveal {
  position: relative;
  opacity: 0;
}

.btn {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  padding: 14px 60px;
  border-radius: 8px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.5em 1.5em;
  transition: 0.4s;
}

.btn1 {
  color: white;
  border: 1px solid white;
  background-image: linear-gradient(to right, transparent 50%, #f0860d 50%);
  background-size: 200%;
  background-position: 0%;
}

.btn1:hover {
  color: #353535;
  background-position: 100%;
}

@media screen and (min-width: 1500px) {
  .work {
    font-size: 120px;
  }

  .div {
    padding-left: 10em;
    // height: 90vh;
  }

  .test2 {
    font-size: 60px;
  }
}

@media (max-width: 960px) {
  .work {
    font-size: 60px;
  }

  .test2 {
    font-size: 20px;
  }
 
}
