.contact {
  width: 100%;
  height: 100%;
}

.section_header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;  
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  margin-top: 1em;
}

.contact_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.form_group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

.col_12{
	flex: 0 0 100%;
	max-width: 100%;
}

/* Left contact page */
.form_horizontal {
  /*float: left;*/
  max-width: 400px;
  // font-family: 'Lato';
  font-weight: 400;
}

.form_control {
  width: 15em;
  background-color: black;
  color: #fff;
  letter-spacing: 1px;
  border-style: solid;
  border-color: white;
  margin-bottom: .5em;
}

.btn {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  // padding: 14px 60px;
  border-radius: 8px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.5em;
  transition: 0.4s;
  width: 24em;
  height: 3em;
}

.btn1 {
  color: white;
  border: 1px solid white;
  background-image: linear-gradient(to right, transparent 50%, #f0860d 50%);
  background-size: 200%;
  background-position: 0%;
}

.btn1:hover {
  color: #353535;
  background-position: 100%;
}

// .send_button {
//   margin-top: 15px;
//   height: 34px;
//   width: 400px;
//   overflow: hidden;
//   // transition: all .2s ease-in-out;
// }

// .alt_send_button {
//   width: 400px;
//   height: 34px;
//   transition: all .2s ease-in-out;
// }

// .send_text {
//   display: block;
//   margin-top: 10px;
//   font-size: 12px;
//   font-weight: 700;
//   letter-spacing: 2px;
// }

// .alt_send_button:hover {
//   transform: translate3d(0px, -29px, 0px);
// }

/* Begin Right Contact Page */
.direct_contact_container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact_list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list_item {
  line-height: 4;
  color: #aaa;
}

.contact_text {  
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact_text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact_text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social_media_list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social_media_list li a {
  color: #fff;
}

.social_media_list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social_media_list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social_media_list li:hover {
  background-color: #fff; 
}

.social_media_list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social_media_list li:hover a {
  color: #000;
}

.copyright {
  font-size: 14px;
  font-weight: 200;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

.hr {
  border-color: rgba(255,255,255,.6);
}

.confirmation {
  margin-top: 4em;
  text-align: center;
  color: white;
  font-weight: bold;
  
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact_wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct_contact_container, .form_horizontal {
    margin: 0 auto;
  }  
  
  .direct_contact_container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social_media_list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social_media_list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct_contact_container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form_control, .textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, .textarea {
    width: 280px;
  } 
  
  .direct_contact_container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social_media_list {
    left: 0;
  }
  .social_media_list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social_media_list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .btn {
    width: 15em;
    height: 3em;
  }
}