.background {
  display: flex;
  // max-height: 100vh;
  margin-top: -50em;
}

.section{
  margin-top: 2em;
}

.container {
  flex: 0 1 50em;
  margin: 0 auto;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen_header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen_header_left {
  margin-right: auto;
}

.screen_header_button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen_header_button.close {
  background: #ff5f57;
}

.screen_header_button.maximize {
  background: #fdbc2d;
}

.screen_header_button.minimize {
  background: #29c840;
}

.screen_header_right {
  display: flex;
}

.screen_header_ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen_body {
  display: flex;
}

.screen_body_item {
  flex: 1;
  padding: 50px;
}

.screen_body_item.left {
  display: flex;
  flex-direction: column;
}

.app_title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ddd;
  font-size: 26px;
}

.app_title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ddd;
}

.app_location {
  margin-top: auto;
  font-size: 14px;
  color: #ddd;
}

.app_contact {
  font-size: 14px;
  color: #ddd;
}

.contact_link:hover {
  color: #f0860d !important;
}

.app_email {
  font-size: 14px;
  color: #ddd;
}

.email_link:hover {
  color: #f0860d !important;
}

.app_social_medias {
  margin-top: 1em;
}

.likedin:hover {
  color: #f0860d !important;
}

.github:hover {
  color: #f0860d !important;
}

.app_form_group {
  margin-bottom: 15px;
}

.app_form_group.message {
  margin-top: 40px;
}

.app_form_group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app_form_control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  // text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app_form_control::placeholder {
  color: #666;
}

.app_form_control:focus {
  border-bottom-color: #ddd;
}

.btn {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 8px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.5em;
  transition: 0.4s;
  width: 10em;
  height: 3em;
}

.btn1 {
  color: #ddd;
  border: 1px solid #ddd;
  background-image: linear-gradient(to right, transparent 50%, #f0860d 50%);
  background-size: 200%;
  background-position: 0%;
}

.btn1:hover {
  color: #353535;
  background-position: 100%;
}

.confirmation {
  text-align: center;
  margin-top: 4em;
}

@media screen and (min-width: 1400px) {
  .container {
    flex: 0 1 70em;
    margin-top: 25em;
  }

  .app_title {
    font-size: 30px;
  }

  .app_form_control::placeholder {
    font-size: 20px;
  }

  .app_location {
    font-size: 20px;
  }

  .app_contact {
    font-size: 20px;
  }

  .app_email {
    font-size: 20px;
  }

  .app_social_medias {
    font-size: 30px;
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    flex: 0 1 70em;
    margin-top: 24em;

  }

  .screen {
    height: 26em;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-top: 25em;
  }

  .screen {
    height: 37em;
  }

  .screen_body {
    flex-direction: column;
  }

  .screen_body-item.left {
    margin-bottom: 30px;
  }

  .app_title {
    flex-direction: row;
  }

  .app_title span {
    margin-right: 12px;
  }

  .app_title:after {
    display: none;
  }

  .app_location {
    margin-top: 1em;
  }

  .app_social_medias {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 600px) {
  .screen_body {
    padding: 40px;
  }

  .screen_body_item {
    padding: 0;
  }
}
