.navBar {
  height: 10vh;
  padding: 0 2em;
  display: flex;
  background: transparent;

  .navbarContent {
    width: 100%;
    max-width: 90rem;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.logoContainer {
  position: relative;
}

.hamburger {
  display: none;
  z-index: 6;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  & .subLinks {
    display: flex;
  }
  & li {
    margin-right: 20px;

    & a {
      font-size: var(--fs-200);
    }
  }
}

.block {
  display: block !important;
}

.logo {
  color: white;
  font-size: var(--fs-200);
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-family: var(--ff-serif);

  &:after {
    content: '';
    position: absolute;
    width: 130%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(var(--clr-orange-neon));
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }

  &:hover {
    &:after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}
// .logo {
//   color: white;
//   &:after {
//     content: '';
//     position: absolute;
//     width: 130%;
//     height: 1px;
//     bottom: 0;
//     left: 0;
//     background-color: hsl(var(--clr-orange-neon));
//     transform: scaleX(0);
//     transform-origin: bottom right;
//     transition: transform 0.3s;
//   }

//   &:hover {
//     &:after {
//       transform-origin: bottom left;
//       transform: scaleX(1);
//     }
//   }
// }
// .logo:hover {
//   color: hsl(var(--clr-orange-neon));
// }

@media screen and (max-width: 960px) {
  .hamburger {
    display: block;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 6;
  }
}

@media (max-width: 960px) {
  .navLinks {
    display: none;
  }
}
