.h2 {
  margin: 0;
  writing-mode: vertical-lr;
  // text-align: center;
  line-height: 1.8;
}

.rotate {
  transform: rotate(180deg);
}

.div {
  display: grid;
  height: 90vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;

}

.ramon {
  transform: translate(-50%, -50%), rotate(180deg);
  color: white;
  font-size: 80px;
}

.ramon::before {
  content: "RAMON";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.ramon::after {
  content: "RAMON";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.ramon:hover:before {
  top: 10px;
  left: 10px;
}

.ramon:hover:after {
  top: -10px;
  left: -10px;
}

.barros {
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  margin-top: 2em;
}

.barros::before {
  content: "BARROS";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.barros::after {
  content: "BARROS";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.barros:hover:before {
  top: 10px;
  left: 10px;
}

.barros:hover:after {
  top: -10px;
  left: -10px;
}

@media screen and (min-width: 1400px) {
  .ramon {
    font-size: 90px;
  }

  .barros {
    font-size: 90px;
  }
}

@media (max-width: 960px) {
  .ramon {
    font-size: 60px;
  }

  .barros {
    font-size: 60px;
  }
}
