/* -------------- */
/* Global CSS utility classes */
/* -------------- */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mt {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml {
  margin-left: 0.5rem;
}

.mr {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);

  &.center {
    justify-content: center;
  }
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);

  &.center {
    justify-content: center;
  }
}

.pointer:hover {
  cursor: pointer;
}

// One column on small two column on med up
.c1-c2 {
  display: grid;
  grid-template-columns: 1fr;

  gap: 5rem;
}

.v-align-c {
  display: grid;
  align-items: center;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 90rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.center {
  text-align: center;
}

.left {
  float: left;
  margin-right: 1rem;
}

.profile-img {
  border: solid transparent;
  border-radius: 50%;
}

.bottom {
  bottom: 0;
  right: 0;
  position: absolute;
}

.btn-scroll-top {
  text-align: right;
}

.btn-img {
  cursor: pointer;
  transition: transform .2s; /* Animation */
}

.btn-img:hover {
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.numbered-title {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;

  & > span {
    margin-right: 0.3em;
    font-weight: 700;
    color: hsl(var(--clr-white) / 0.3);
  }
}

.section {
  padding: 5rem 2rem;
}

.section-component {
  // padding: 5rem 2rem;
  height: 100vh;
  background-image: url('/images/work.jpg');
  background-size: cover;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #070707;
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #070707;
  transform-origin: right;
}

input[type='text'] {
  background: white;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 4px 8px;
  border: 2px solid transparent;
}

input[type='text']:focus {
  border: 2px solid hsl(var(--clr-green));
  box-shadow: 0px 0px 4px hsl(var(--clr-green));
}

.logoBg::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;

  background-image: url('/images/kw_logo_accent.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media screen and (min-width: 900px) {
  .c1-c2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 565px) {
  .left {
    float: left;
    margin-right: 0;
    margin-bottom: 2em;
  }

  .btn-img {
    visibility: hidden;
  }
}
