.h2 {
  margin: 0;
  // writing-mode: vertical-lr;
  // text-align: center;
  line-height: 1.8;
}

.div {
  // display: grid;
  height: 80vh;
  width: fit-content;
  // justify-content: center;
  // align-content: center;
  grid-template-columns: max-content max-content;
  padding-left: 6em;
}

.about {
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  font-weight: bold;
}

.about::before {
  content: "ABOUT";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.about::after {
  content: "ABOUT";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.about:hover:before {
  top: 10px;
  left: 10px;
}

.about:hover:after {
  top: -10px;
  left: -10px;
} 


@media screen and (min-width: 1500px) {
  .about {
    font-size: 120px;
  }

  .div {
    padding-left: 11em;
    height: 90vh;
  }
}

@media (max-width: 960px) {
  .about {
    font-size: 60px;
  }

  .div {
    padding-left: 4em;
  }
}

